<header id="header" role="banner">
    <div class="headwrap">
        <div class="logo">
            <a href="#">Charlie Thomason</a>
        </div>
        <div class="tagline">Artist &amp; Web Developer from Chicago</div>

        <nav id="main-nav" role="navigation">
            <a href="#" id="hamburger"><span> </span>Menu</a>
            <ul role="menu">
                <li ng-repeat="item in vm.navItems">
                    <a ui-sref="{{item.path}}" ui-sref-active="active" role="menuitem">{{item.label}}</a>
                </li>
            </ul>
        </nav>

    </div>
</header>